.paper {
  max-width: 100%;
  padding: 3rem 2rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  background: var(--gray-2);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
