@use "./normalize";
@use "./zIndex";
@use "./colors";

* {
  box-sizing: border-box;
}

body {
  color: var(--gray-5);
  background-color: var(--gray-1);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
