.dashboard-row {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.accounts-section {
  flex: 1;

  @include media-non-phone {
    min-width: 320px;
  }
}

.section-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.accounts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.transactions-section {
  flex: 1;

  @include media-non-phone {
    min-width: 600px;
  }

  .account-name {
    margin-bottom: 0.5rem;
  }
}

.no-account-container {
  min-height: 360px;
}
